*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sidebar {
    background-color: #417A1A;
    color: white;
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.Sidebar li:last-child {
    margin-top: auto;
    width: 100%;
}

.Sidebar li:last-child button {
    width: 100%;
}

.Sidebar li {
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
}

.Sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.Container {
    display: flex;
    height: 100vh;
}

.PageContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: grey;
    margin: 20px;
    margin-left: 300px;
    z-index: 1;
}

/* this is gonna make sure it works for the smaller devices */
@media (max-width: 600px) {
  .Container {
    flex-direction: column;
  }

  .Sidebar {
    width: 100%;
    height: auto;
  }

  .Schedule {
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
  }

  .Sidebar li:last-child {
    margin-top: auto;
    width: 100%;
  }
}
