.container {
  margin-top: 20px;
}

.fileInput {
  margin-bottom: 10px;
}

.tableWrapper {
  max-width: 100%;
  overflow-x: auto;
  height: 600px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emptyMessage {
  margin-top: 10px;
  font-style: italic;
  color: #888;
}
