.container {
  margin-top: 20px;
}

.fileInput {
  margin-bottom: 10px;
}

.tableWrapper {
  max-width: 100%;
  overflow-x: auto;
  height: 600px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emptyMessage {
  margin-top: 5px;
  font-style: italic;
  font-size: 15px;
  color: #888;
}

.fileUploadInput {
  width: 200px;
  height: 36px;
  margin-bottom: 8.5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
}