*{
    margin: 0;
    padding: 0;
}

.Sidebar {
    position: absolute;
    background-color: #417A1A;
    color: white;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;

}

.Sidebar li {
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
}

.Sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.Schedule {
    text-align: center;
    font-size: 50px;
    margin-left: 290px;
    color: grey;
    border: solid grey 1px;
    padding: 400px;
}

